@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

input {
    @apply border border-gray-300 rounded p-1 hover:bg-gray-100 cursor-pointer;
}
