<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoNextFund</title>
    <!--  <script src="https://unpkg.com/htmx.org@1.8.4"></script>-->
    <link rel="stylesheet" href="/static/css/styles.css" >
</head>
<body>

<div class="flex h-screen">

    <div class="border-r-2 border-black flex-none p-4 w-1/4">
        <div class="mb-8">
            <h1 class="font-bold">GoNextFund</h1>
        </div>
        <div class="">
            <p>Menu</p>
            <ul>
                <li>
                    <a hx-get="/home" hx-target="#page-content" class="cursor-pointer hover:underline text-blue-400">Home</a>
                </li>
                <li>
                    <a hx-get="/import" hx-target="#page-content" class="cursor-pointer hover:underline text-blue-400">Import</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Main content area -->
    <div id="page-content" class="flex flex-col flex-grow">
        {{.PageContent}}
    </div>

</div>


<!-- Lien vers le bundle JavaScript -->
<script src="/static/js/main.bundle.js"></script>
<script src="/static/js/styles.bundle.js"></script>

</body>
</html>
