<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoNextFund</title>
    <!--  <script src="https://unpkg.com/htmx.org@1.8.4"></script>-->
    <link rel="stylesheet" href="/static/css/styles.css" >
</head>
<body>

<h1 class="bg-red-900 text-white">Hello world</h1>


<div class="container mx-auto px-5 bg-amber-600">
    <div id="message">{{.Message}}</div>
    <button hx-get="/update" hx-target="#message">Mettre à jour le message</button>
    <p class="text-slate-400 hover:text-sky-400">The quick brown fox...</p>
</div>

<!-- Lien vers le bundle JavaScript -->
<script src="/static/js/main.bundle.js"></script>

</body>
</html>
